/* 1. Reset Básico y Paleta de Colores */
:root {
  --primary: #2A4365;
  --hover: #1A365D;
  --accent: #4FD1C5;
  --bg-color: #FAF5FF;
  --bg-gray: #F7FAFC;
  --text-dark: #1A202C;
  --text-light: #718096;
  --white: #FFFFFF;
  --status-green: #38A169;
  --status-yellow: #D69E2E;
  --danger-red: #E53E3E;
  --border-color: #E2E8F0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 2. Fondo de la página y centrado con Flexbox */
body {
  background-color: var(--bg-gray);
  /* Fondo gris muy suave para descansar la vista */
  height: 100vh;
  color: var(--text-dark);
  /* Texto gris oscuro, mejor contraste que el negro puro */
}

/* 3. Menú Lateral (Sidebar) */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg,
      var(--primary) 0%,
      color-mix(in srgb, var(--hover) 80%, black) 100%);
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 20px 0;
  flex-grow: 1;
}

.nav-links li a {
  display: block;
  padding: 15px 25px;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  background-color: var(--hover);
  border-left: 4px solid var(--accent);
}

/* 3. Guia para contenido*/
.main-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}

/* 4. Botones*/
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--white);
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.btn-add {
  background-color: var(--primary);
}

.btn-edit {
  background-color: var(--accent);
}

.btn-delete {
  background-color: var(--danger-red);
}
