<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analítica y Reportes - Rehab IoT</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_base.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_reportes.css')}}">
    <style>
    </style>
  </head>
  <body>

    <nav class="sidebar">
      <div class="sidebar-header">
        <h1> Rehab IoT </h1>
      </div>
      <ul class="nav-links">
        <li><a href="{{url_for('admin_dashboard')}}" ><i class="fa-solid fa-arrows-to-circle"></i> Dashboard</a></li>
        <li><a href="{{url_for('admin_obtenerPacientes')}}"> <i class="fa-solid fa-clipboard-user"></i>Pacientes</a></li>
        <li><a href="{{url_for('admin_obtenerTerapeutas')}}"> <i class="fa-solid fa-user-group"></i> Terapeutas</a></li>
        <li><a href="{{url_for('admin_obtenerSesiones')}}"> <i class="fa-solid fa-house-chimney-user"></i> Sesiones </a></li>
        <li><a href="{{url_for('admin_obtenerBeacons')}}"><i class="fa-solid fa-cubes-stacked"></i> Zonas (Beacons)</a></li>
        <li><a href="{{url_for('admin_reportes')}}" class="active"> <i class="fa-solid fa-book"></i> Reportes </a></li>
        <li><a href="{{url_for('logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</a></li>
      </ul>
    </nav>
    <main class="main-content">
      <div class="charts-grid">
        <div class="chart-container">
          <div class="chart-header">
            <h3>Tendencia de Asistencias</h3>
          </div>
          <div class="chart-wrapper">
            <div id="tendenciaChart" class="chart-loading"> Cargando gráfica... </div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Estados de Sesiones</h3>
          </div>
          <div class="chart-wrapper">
            <div id="estadoSesionesChart"></div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Asistencias por paciente</h3>
          </div>
          <div class="chart-wrapper">
            <div id="asistenciaPacientes"></div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Tendencia por Sesion</h3>
          </div>
          <div class="chart-wrapper">
            <div id="tendenciaSesiones"></div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Evolucion por Movilidad</h3>
          </div>
          <div class="chart-wrapper">
            <div id="evolucionMovilidad"></div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Evolucion por Dolor</h3>
          </div>
          <div class="chart-wrapper">
            <div id="evolucionDolor"></div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Tipos de Sesion</h3>
          </div>
          <div class="chart-wrapper">
            <div id="tiposSesion"></div>
          </div>
        </div>
        <div class="chart-container">
          <div class="chart-header">
            <h3>Sesiones por Terapeuta</h3>
          </div>
          <div class="chart-wrapper">
            <div id="sesionesTerapeuta"></div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/admin_charts.js') }}"></script>
  </body>
</html>
