<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Centro de Rehabilitación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_base.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_dashboard.css')}}">
  </head>

  <body>

    <!-- Inicio de SIDEBAR -->
    <nav class="sidebar">
      <div class="sidebar-header">
        <h1> Rehab IoT <h1>
      </div>
      <ul class="nav-links">
        <li><a href="{{url_for('admin_dashboard')}}" class="active"><i class="fa-solid fa-arrows-to-circle"></i>
            Dashboard</a></li>
        <li><a href="{{url_for('admin_obtenerPacientes')}}"> <i class="fa-solid fa-clipboard-user"></i>Pacientes</a></li>
        <li><a href="{{url_for('admin_obtenerTerapeutas')}}"> <i class="fa-solid fa-user-group"></i> Terapeutas</a></li>
        <li><a href="{{url_for('admin_obtenerSesiones')}}"> <i class="fa-solid fa-house-chimney-user"></i> Sesiones </a>
        </li>
        <li><a href="{{url_for('admin_obtenerBeacons')}}"><i class="fa-solid fa-cubes-stacked"></i> Zonas (Beacons)</a>
        </li>
        <li><a href="{{url_for('admin_reportes')}}"> <i class="fa-solid fa-book"></i> Reportes </a></li>
        <li><a href="{{url_for('logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</a></li>
      </ul>
    </nav>
    <!-- Fin de SIDEBAR -->

    <main class="main-content">
      <div class="header">
        <h1>Panel de Control Global</h1>
        <p>Bienvenido, <strong>{{ session.id }}</strong></p>
      </div>

      <div class="kpi-grid">
        <div class="kpi-card">
          <div class="kpi-icon"><i class="fa-solid fa-user-check"></i></div>
          <div class="kpi-info">
            <h4>Efectividad Promedio</h4>
            <p class="value">{{ kpi.get("efectividad_promedio", 0) }}%</p>
          </div>
        </div>
        <div class="kpi-card">
          <div class="kpi-icon"><i class="fa-solid fa-user-check"></i></div>
          <div class="kpi-info">
            <h4>Tasa de aderencia</h4>
            <p class="value">{{ kpi.get("tasa_aderencia", 0) }}%</p>
          </div>
        </div>
        <div class="kpi-card">
          <div class="kpi-icon"><i class="fa-solid fa-user-check"></i></div>
          <div class="kpi-info">
            <h4>Paciente Activos con Sesion</h4>
            <p class="value">{{ kpi.get("pacientes_activos", 0) }}</p>
          </div>
        </div>

        <div class="kpi-card" style="border-left-color: var(--accent-teal);">
          <div class="kpi-icon" style="color: var(--accent-teal);"><i class="fa-solid fa-heart-pulse"></i></div>
          <div class="kpi-info">
            <h4>Sesiones de Hoy</h4>
            <p class="value">{{ kpi.get("sesiones_hoy", 0) }} sesiones</p>
            <span class="trend"><i class="fa-solid fa-arrow-trend-up"></i> Alta mejora clínica</span>
          </div>
        </div>

        <div class="kpi-card" style="border-left-color: var(--warning);">
          <div class="kpi-icon" style="color: var(--warning);"><i class="fa-solid fa-clock"></i></div>
          <div class="kpi-info">
            <h4>Tiempo Promedio Sesión</h4>
            <p class="value">{{ kpi.get("tiempo_promedio_sesion", 0)}} min</p>
            <span class="trend negative"><i class="fa-solid fa-arrow-trend-down"></i> -2 min (Óptimo)</span>
          </div>
        </div>
      </div>

      <div class="panel-grid">

        <div class="panel">
          <h2 class="panel-title">Sesiones por Día</h2>
          <div id="graficaSesiones" style="height: 350px;"></div>
        </div>

        <div class="panel">
          <h2 class="panel-title">Pacientes por Zona</h2>
          <div id="graficaZonas" style="height: 350px;"></div>
        </div>
      </div>



    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>

      const sesionesData = {{ sesiones_chart | tojson | safe }};
      const zonasData = {{ zonas_chart | tojson | safe }};

      Highcharts.chart('graficaSesiones', {

        chart: {
          type: 'line'
        },

        title: {
          text: 'Sesiones Registradas'
        },

        xAxis: {
          categories: sesionesData.map(x => x.fecha)
        },

        yAxis: {
          title: {
            text: 'Sesiones'
          }
        },

        series: [{
          name: 'Sesiones',
          data: sesionesData.map(x => parseInt(x.total))
        }]
      });

      Highcharts.chart('graficaZonas', {

        chart: {
          type: 'pie'
        },

        title: {
          text: 'Distribución por Zona'
        },

        series: [{
          name: 'Pacientes',
          data: zonasData.map(x => ({
            name: x.ubicacion,
            y: parseInt(x.total)
          }))
        }]
      });

    </script>
  </body>

</html>
